<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BoardRent"
             connectionString="Data Source=DESKTOP-2TK0CUF\SQLEXPRESS;Initial Catalog=BoardRent;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>
